In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN'.
# Optimization - Keep 'Name'
application_df = application_df.drop(columns=['EIN'])

# Optimization - Drop additional columns
application_df = application_df.drop(columns=['STATUS','SPECIAL_CONSIDERATIONS'])

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
ORGANIZATION            4
INCOME_AMT              9
ASK_AMT              8747
IS_SUCCESSFUL           2
dtype: int64

In [4]:
name_counts = application_df['NAME'].value_counts()
name_counts

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [5]:
names_to_replace = name_counts[name_counts<2].index

# Replace in dataframe
for app in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

NAME
Other                                                                 18776
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
                                                                      ...
WASHINGTON EXPLORER SEARCH AND RESCUE                                     2
INTERNATIONAL ALLIANCE THEATRICAL STAGE EMPLOYEES & MOVING PICTURE        2
BIRTH NETWORK                                                             2
NATIONAL ASSOCIATON OF CORPORATE DIRECTORS                                2
NATIONAL SOCIETY COLONIAL DAMES XVII CENTURY                              2
Name: count, Length: 793, dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
app_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Optimization - Decrease cutoff value to less than 156
application_types_to_replace = app_type_counts[app_type_counts<156].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts_cleaned = class_counts[class_counts>1]
class_counts_cleaned

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Optimization - Decrease cutoff value to less than 100
cutoff_value = 100
classifications_to_replace = class_counts[class_counts<cutoff_value].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_dummies = pd.get_dummies(application_df)
application_df_dummies.dtypes

ASK_AMT                                          int64
IS_SUCCESSFUL                                    int64
NAME_4-H CLUBS & AFFILIATED 4-H ORGANIZATIONS     bool
NAME_AACE INTERNATIONAL                           bool
NAME_ACADEMY OF GENERAL DENTISTRY                 bool
                                                 ...
INCOME_AMT_10M-50M                                bool
INCOME_AMT_1M-5M                                  bool
INCOME_AMT_25000-99999                            bool
INCOME_AMT_50M+                                   bool
INCOME_AMT_5M-10M                                 bool
Length: 841, dtype: object

In [12]:
# Split our preprocessed data into our features and target arrays
X = application_df_dummies.drop('IS_SUCCESSFUL', axis=1)
y = application_df_dummies['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
len(X_train_scaled[0])

840

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 6728

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 6,779
Trainable params: 6,779
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
858/858 [==============================] - 1s 1ms/step - loss: 0.6096 - accuracy: 0.7360
Epoch 2/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4986 - accuracy: 0.7945
Epoch 3/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4603 - accuracy: 0.7993
Epoch 4/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4433 - accuracy: 0.8024
Epoch 5/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4350 - accuracy: 0.8029
Epoch 6/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4301 - accuracy: 0.8044
Epoch 7/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4268 - accuracy: 0.8040
Epoch 8/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4247 - accuracy: 0.8048
Epoch 9/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4196 - accuracy: 0.8048
Epoch 10/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4174 - accuracy: 0.8042
Epoch 11/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4159 - accuracy: 0.8059
Epoch 12/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4150 - accuracy: 0.8055
Epoch 13/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4143 - accuracy: 0.8062
Epoch 14/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4133 - accuracy: 0.8064
Epoch 15/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4124 - accuracy: 0.8069
Epoch 16/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4120 - accuracy: 0.8060
Epoch 17/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4106 - accuracy: 0.8074
Epoch 18/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4102 - accuracy: 0.8078
Epoch 19/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4105 - accuracy: 0.8072
Epoch 20/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4093 - accuracy: 0.8073
Epoch 21/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4087 - accuracy: 0.8078
Epoch 22/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4083 - accuracy: 0.8073
Epoch 23/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4081 - accuracy: 0.8082
Epoch 24/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4077 - accuracy: 0.8062
Epoch 25/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4073 - accuracy: 0.8084
Epoch 26/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4071 - accuracy: 0.8086
Epoch 27/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4070 - accuracy: 0.8080
Epoch 28/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4066 - accuracy: 0.8084
Epoch 29/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4062 - accuracy: 0.8087
Epoch 30/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4056 - accuracy: 0.8097
Epoch 31/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4054 - accuracy: 0.8087
Epoch 32/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4054 - accuracy: 0.8083
Epoch 33/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4048 - accuracy: 0.8094
Epoch 34/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4047 - accuracy: 0.8090
Epoch 35/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4047 - accuracy: 0.8093
Epoch 36/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4046 - accuracy: 0.8086
Epoch 37/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4040 - accuracy: 0.8098
Epoch 38/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4037 - accuracy: 0.8097
Epoch 39/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4039 - accuracy: 0.8092
Epoch 40/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4036 - accuracy: 0.8096
Epoch 41/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4035 - accuracy: 0.8092
Epoch 42/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4029 - accuracy: 0.8095
Epoch 43/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4028 - accuracy: 0.8105
Epoch 44/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4026 - accuracy: 0.8097
Epoch 45/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4026 - accuracy: 0.8106
Epoch 46/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4023 - accuracy: 0.8092
Epoch 47/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4021 - accuracy: 0.8097
Epoch 48/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4022 - accuracy: 0.8092
Epoch 49/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4022 - accuracy: 0.8094
Epoch 50/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4020 - accuracy: 0.8102
Epoch 51/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4019 - accuracy: 0.8095
Epoch 52/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4015 - accuracy: 0.8101
Epoch 53/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4016 - accuracy: 0.8106
Epoch 54/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4012 - accuracy: 0.8095
Epoch 55/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4010 - accuracy: 0.8103
Epoch 56/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4011 - accuracy: 0.8109
Epoch 57/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4011 - accuracy: 0.8097
Epoch 58/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4010 - accuracy: 0.8106
Epoch 59/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4006 - accuracy: 0.8104
Epoch 60/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4007 - accuracy: 0.8090
Epoch 61/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4005 - accuracy: 0.8107
Epoch 62/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4005 - accuracy: 0.8104
Epoch 63/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4007 - accuracy: 0.8111
Epoch 64/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4006 - accuracy: 0.8106
Epoch 65/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4003 - accuracy: 0.8106
Epoch 66/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4006 - accuracy: 0.8101
Epoch 67/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4003 - accuracy: 0.8103
Epoch 68/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4002 - accuracy: 0.8100
Epoch 69/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3996 - accuracy: 0.8113
Epoch 70/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4003 - accuracy: 0.8105
Epoch 71/100
858/858 [==============================] - 1s 1ms/step - loss: 0.4003 - accuracy: 0.8097
Epoch 72/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3999 - accuracy: 0.8105
Epoch 73/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3997 - accuracy: 0.8115
Epoch 74/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3998 - accuracy: 0.8106
Epoch 75/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3996 - accuracy: 0.8116
Epoch 76/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3991 - accuracy: 0.8109
Epoch 77/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3997 - accuracy: 0.8114
Epoch 78/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3989 - accuracy: 0.8115
Epoch 79/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3998 - accuracy: 0.8105
Epoch 80/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3995 - accuracy: 0.8119
Epoch 81/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3998 - accuracy: 0.8110
Epoch 82/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3995 - accuracy: 0.8120
Epoch 83/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3992 - accuracy: 0.8110
Epoch 84/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3991 - accuracy: 0.8115
Epoch 85/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3988 - accuracy: 0.8116
Epoch 86/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3990 - accuracy: 0.8111
Epoch 87/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3988 - accuracy: 0.8116
Epoch 88/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3990 - accuracy: 0.8110
Epoch 89/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3990 - accuracy: 0.8111
Epoch 90/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3989 - accuracy: 0.8114
Epoch 91/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3989 - accuracy: 0.8109
Epoch 92/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3989 - accuracy: 0.8118
Epoch 93/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3984 - accuracy: 0.8115
Epoch 94/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3987 - accuracy: 0.8121
Epoch 95/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3983 - accuracy: 0.8127
Epoch 96/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3983 - accuracy: 0.8117
Epoch 97/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3982 - accuracy: 0.8117
Epoch 98/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3986 - accuracy: 0.8111
Epoch 99/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3983 - accuracy: 0.8120
Epoch 100/100
858/858 [==============================] - 1s 1ms/step - loss: 0.3984 - accuracy: 0.8121

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.4496 - accuracy: 0.8076 - 405ms/epoch - 2ms/step
Loss: 0.4495660960674286, Accuracy: 0.8075801730155945

In [19]:
# Export our model to HDF5 file
nn.save("Alphabet Soup Model 2", save_format='h5')